.list_condensed {
	display: none;
}

input, select {
	display: inline !important;
	width: auto !important;
}

ol {
	list-style: none;
	counter-reset: li;
}

ol > li::before {
	content: counter(li) ". ";
	color: #212529;
	display: inline-block;
	width: 1em;
	counter-increment: li;
	margin-left: -0.3em;
	padding-right: 0.3em;
}

.greyed_out, .soft_greyed_out > a, .soft_greyed_out > span, ol > li.soft_greyed_out::before {
	opacity: 0.5;
}

ol > .greyed_out, .greyed_out .greyed_out {
	display: none;
}